<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    	.zin{
    		height: 500px;
    	}
    </style>
  </head>
  <body>
    <input type="text" class="id">
    <input type="submit" class="sub">
    <input type="text" class="date">
    <input type="text" class="date1" value="100">
    <input type="submit" class="subdate">
    <span class="cw"></span>
    <br>
    <span class="j-id"></span>
    <div class="j-zin zin"></div>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts.min.js"></script>
    <script src="./option.js"></script>
    <script src="./request.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
